services:
    - type: worker
      name: queue-processor
      region: frankfurt
      env: node
      buildCommand: "yarn && yarn build"
      startCommand: "yarn start"
      envVars:
          - key: QUEUE_BROKER_URL
            fromService:
                name: xpend-queue-broker
                type: redis
                property: connectionString
    - type: redis
      name: xpend-queue-broker
      region: frankfurt
      maxmemoryPolicy: noeviction # recommended policy for queues
      ipAllowList: [] # only allow internal connections
