services:
    - type: worker
      name: xpend-watcher
      region: frankfurt
      env: node
      buildCommand: "yarn && yarn build"
      startCommand: "yarn start"
      envVars:
          - key: WATCHER_BROKER_URL
            fromService:
                name: xpend-watcher-broker
                type: redis
                property: connectionString
    - type: redis
      name: xpend-watcher-broker
      region: frankfurt
      plan: free
      maxmemoryPolicy: noeviction # recommended policy for queues
      ipAllowList: [] # only allow internal connections
    - type: web
      name: xpend
      region: frankfurt
      plan: free
      repo: https://github.com/xpend-app/xpend.git
      env: node
      buildCommand: yarn && yarn build
      startCommand: yarn start:prod
      envVars:
          - key: WATCHER_BROKER_URL
            fromService:
                name: xpend-watcher-broker
                type: redis
                property: connectionString
